@if (SucessOrFaild == Data.SuccessorFailAlert.Success)
{
@*     <div id="successAlert"
         style="position: fixed; bottom: 20px; left: 50%; transform: translateX(-50%); z-index: 1055; display: none;"
         class="alert alert-success alert-dismissible fade" role="alert">
        <strong>Success!</strong> @Message
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div> *@
    <!-- Success alert -->
    <div id="successAlert" class="alert-bx mx-auto w-full ">
        <div class="rounded-lg bg-green-50 p-4 ring-1 ring-inset ring-green-200">
            <div class="flex items-start gap-x-1">
                <div class="shrink-0 mt-1">
                    <svg aria-hidden="true" class="size-4 text-green-500" viewBox="0 0 55 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M43.8919 18.4573C45.1123 19.6777 45.1123 21.6563 43.8919 22.8767L25.9716 40.797C24.7513 42.0173 22.7727 42.0173 21.5523 40.797L13.5257 32.771C12.3053 31.5507 12.3052 29.572 13.5256 28.3516C14.7459 27.1312 16.7245 27.1311 17.945 28.3515L23.7618 34.1679L39.4725 18.4573C40.6929 17.2369 42.6715 17.2369 43.8919 18.4573Z" fill="currentColor"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M27.5 5.66699C15.0736 5.66699 5 15.7406 5 28.167C5 40.5934 15.0736 50.667 27.5 50.667C39.9264 50.667 50 40.5934 50 28.167C50 15.7406 39.9264 5.66699 27.5 5.66699ZM0 28.167C0 12.9792 12.3122 0.666992 27.5 0.666992C42.6878 0.666992 55 12.9792 55 28.167C55 43.3548 42.6878 55.667 27.5 55.667C12.3122 55.667 0 43.3548 0 28.167Z" fill="currentColor"></path>
                    </svg>
                </div>
                <div class="flex-1">
                    <h3 class="text-md font-semibold text-green-700">Successfully</h3>
                    <div class="mt-1">
                        <p class="text-sm text-green-600">@Message</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
@*     <div id="successAlert"
         style="position: fixed; bottom: 20px; left: 50%; transform: translateX(-50%); z-index: 1055; display: none;"
         class="alert alert-danger alert-dismissible fade" role="alert">

        <strong>Success!</strong> @Message
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div> *@
    <!-- Error alert -->
    <div id="successAlert" class="alert-bx mx-auto w-full ">
        <div class="rounded-lg bg-red-50 p-4 ring-1 ring-inset ring-red-200">
            <div class="flex items-start gap-x-1">
                <div class="shrink-0 mt-1">
                    <svg aria-hidden="true" class="size-4 text-red-500" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M27.5 5C15.0736 5 5 15.0736 5 27.5C5 39.9265 15.0736 50 27.5 50C39.9265 50 50 39.9265 50 27.5C50 15.0736 39.9265 5 27.5 5ZM0 27.5C0 12.3122 12.3122 0 27.5 0C42.6879 0 55 12.3122 55 27.5C55 42.6879 42.6879 55 27.5 55C12.3122 55 0 42.6879 0 27.5ZM14.6211 14.6211C15.5975 13.6448 17.1804 13.6448 18.1567 14.6211L27.5 23.9645L36.8433 14.6211C37.8197 13.6448 39.4026 13.6448 40.3789 14.6211C41.3552 15.5974 41.3552 17.1803 40.3789 18.1567L31.0355 27.5L40.3789 36.8433C41.3552 37.8197 41.3552 39.4026 40.3789 40.3789C39.4026 41.3552 37.8197 41.3552 36.8433 40.3789L27.5 31.0355L18.1567 40.3789C17.1803 41.3552 15.5974 41.3552 14.6211 40.3789C13.6448 39.4026 13.6448 37.8197 14.6211 36.8433L23.9645 27.5L14.6211 18.1567C13.6448 17.1803 13.6448 15.5974 14.6211 14.6211Z" fill="currentColor"></path>
                    </svg>
                </div>
                <div class="flex-1">
                    <h3 class="text-md font-semibold text-red-700">An error occurred</h3>
                    <div class="mt-1">
                        <p class="text-sm text-red-600">@Message</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}