@inherits LayoutComponentBase



@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />
 <div class="flex">
     <SideMenus />
      <section class="w-full">
          <TopBar />
    <main class="p-4 bg-gray-50 h-screen"> @Body </main>
    </section>
</div>