<!--------Edit Company Management Modal Start-------->
<div id="EditCompanyManagementModal" class="hidden fixed inset-0 bg-black/60 flex items-center justify-center z-40">
    <div id="ModalContaner" class="min-w-  popup-animate">
        <div class="no-scrollbar relative w-full max-w-[700px] overflow-y-auto rounded-3xl bg-white p-3">
            <div class="border-b border-gray-200">
                <button @onclick="CloseAddCompanyModal" class="transition-color absolute right-3 top-3 z-999 flex h-8 w-8 items-center justify-center rounded-full bg-gray-100 text-gray-400 hover:bg-gray-200 hover:text-gray-600  ">
                    <svg class="fill-current text-red-700" width="22" height="22" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.04289 16.5418C5.65237 16.9323 5.65237 17.5655 6.04289 17.956C6.43342 18.3465 7.06658 18.3465 7.45711 17.956L11.9987 13.4144L16.5408 17.9565C16.9313 18.347 17.5645 18.347 17.955 17.9565C18.3455 17.566 18.3455 16.9328 17.955 16.5423L13.4129 12.0002L17.955 7.45808C18.3455 7.06756 18.3455 6.43439 17.955 6.04387C17.5645 5.65335 16.9313 5.65335 16.5408 6.04387L11.9987 10.586L7.45711 6.04439C7.06658 5.65386 6.43342 5.65386 6.04289 6.04439C5.65237 6.43491 5.65237 7.06808 6.04289 7.4586L10.5845 12.0002L6.04289 16.5418Z" fill=""></path>
                    </svg>
                </button>
                @if (SelectedCompany.ID==0)
                {
                    <h4 class="mb-2 text-xl font-semibold text-gray-800 text-center">

                        Add Company
                    </h4>
                }
                else
                {
                    <h4 class="mb-2 text-xl font-semibold text-gray-800 text-center">

                        Edit Company
                    </h4>
                }
               

            </div>
            <form class="">
                <div class="custom-scrollbar max-h-[450px] overflow-y-auto px-2 mt-4">



                    <div class="grid grid-cols-1  md:grid-cols-2 gap-x-6 gap-y-5 lg:grid-cols-3">
                        @* <div class="modal-form-group">
                            <label class="mb-1.5 block text-sm font-medium text-gray-700 ">
                                No
                            </label>
                            <input type="number" placeholder="No" value="1122" class=" h-9 w-full appearance-none rounded-lg border border-gray-300 bg-transparent bg-none px-2 py-2.5 text-sm text-gray-800 shadow-theme-xs placeholder:text-gray-400 ">
                        </div> *@
                        <div class="modal-form-group">
                            <label class="mb-1.5 block text-sm font-medium text-gray-700 ">
                                Company Name
                            </label>
                            <input @bind-value="SelectedCompany.Name" type="text" placeholder="Company Name"  class=" h-9 w-full appearance-none rounded-lg border border-gray-300 bg-transparent bg-none px-2 py-2.5 text-sm text-gray-800 shadow-theme-xs placeholder:text-gray-400 ">
                        </div>
                        <div class="modal-form-group">
                            <label class="mb-1.5 block text-sm font-medium text-gray-700 ">
                                Email Address
                            </label>
                            <input @bind-value="SelectedCompany.Email" type="email" placeholder="Email Address" class=" h-9 w-full appearance-none rounded-lg border border-gray-300 bg-transparent bg-none px-2 py-2.5 text-sm text-gray-800 shadow-theme-xs placeholder:text-gray-400 ">
                        </div>
                        <div class="modal-form-group">
                            <label class="mb-1.5 block text-sm font-medium text-gray-700 ">
                                Contact Person
                            </label>
                            <input @bind-value="SelectedCompany.ContactPerson" type="text" placeholder=" Contact Person" class=" h-9 w-full appearance-none rounded-lg border border-gray-300 bg-transparent bg-none px-2 py-2.5 text-sm text-gray-800 shadow-theme-xs placeholder:text-gray-400 ">
                        </div>

                        <div class="modal-form-group">
                            <label class="mb-1.5 block text-sm font-medium text-gray-700 ">
                                Contact Person Number
                            </label>
                            <input @bind-value="SelectedCompany.PhoneNumber" type="text" placeholder="Contact Person Number" class=" h-9 w-full appearance-none rounded-lg border border-gray-300 bg-transparent bg-none px-2 py-2.5 text-sm text-gray-800 shadow-theme-xs placeholder:text-gray-400 ">
                        </div>
                        <div class="modal-form-group">
                            <label>
                                Country
                            </label>
                            <CountryDropdown ParamSelectedCountry="@selectedCountry" SelectedCountryCallBack="CountrySelection" />
                        </div>
                        <div class="modal-form-group">
                            <label class="mb-1.5 block text-sm font-medium text-gray-700 ">
                                Status
                            </label>
                            <select class=" h-9 w-full appearance-none rounded-lg border border-gray-300 bg-transparent bg-none px-2 py-2 pr-11 text-sm text-gray-800 placeholder:text-gray-400 " @bind="SelectedCompany.Status">
                                @foreach (var item in Enum.GetValues(typeof(Utility.CompanyStatus)).Cast<Utility.CompanyStatus>())
                                {
                                    @if(item!=Utility.CompanyStatus.Pending)
                                    {
                                        <option value="@item.ToString()" class="text-gray-700">
                                            @item.ToString()
                                        </option>
                                    }
                                    
                                }
                               
                               
                            </select>
                        </div>

                    </div>
                    <p class="error_msg" style="color:red">@errorMessage</p>

                </div>
                <div class="flex items-center gap-3 px-2 mt-6 lg:justify-end border-t border-gray-200 pt-4">
                    <button @onclick="CloseAddCompanyModal" type="button" class="flex w-full justify-center rounded-lg border border-gray-300 bg-white px-4 py-2.5 text-sm font-medium text-gray-700 hover:bg-gray-50  sm:w-auto">
                        Close
                    </button>
                    <button @onclick="SaveCompany" type="button" class="flex w-full justify-center rounded-lg main-bg-dark-color px-4 py-2.5 text-sm font-medium text-white hover:bg-brand-600 sm:w-auto">
                        Save Changes
                    </button>
                </div>
            </form>
        </div>


    </div>
</div>
<!--------Popup End-------->