@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
h1, h2, h3, h4, h5, h6 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

p, label, button, input, a, span {
  font-family: "Poppins", sans-serif;
}

a, button {
  cursor: pointer;
}

table {
  border: 1px solid #c4c4c4;
}

.login-mian-bg {
  background-image: url("../img/background_anim.gif");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.login-page-sub-main {
  width: 77%;
  margin: 0 auto;
  box-shadow: rgba(46, 124, 194, 0.49) 0px 1px 4px;
  border-radius: 1em;
  /* background-color: #fff; */
  min-height: 80vh;
  background: rgba(255, 255, 255, 0.56);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(34px);
  -webkit-backdrop-filter: blur(5px);
  /* border: 1px solid rgba(255, 255, 255, 0.3);*/
}

.login-bg-box {
  background: linear-gradient(90.2deg, rgb(1, 47, 95) -0.4%, rgb(56, 141, 217) 106.1%);
  border-radius: 1em 9em 9em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-bg-box .company-logo-text {
  font-size: 1.4em;
  font-weight: 700;
  text-shadow: 2px 2px #5bb0ff;
  letter-spacing: 4px;
}
.login-bg-box .main-head {
  font-size: 2.2em;
  font-weight: 700;
}
.login-bg-box p {
  max-width: 39ch;
  margin: 0 auto;
  font-size: 15px;
  font-weight: 300;
}
.login-bg-box .signup-btn {
  margin-top: 30px;
  display: block;
  padding: 0.5em 2em;
  /* background-color: #000; */
  border-radius: 4em;
  color: #fff;
  font-size: 0.9em;
  border: 1px solid #ffffff;
}

.login-form-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 0em 6em; */
  margin: 0 auto;
  align-items: center;
  padding: 1em 1em 0em 1em;
}
.login-form-main h3 {
  text-align: left;
  font-size: 1.7em;
  font-weight: 700;
  color: #023161;
  margin-bottom: 0.5em;
}
.login-form-main .sign-in-btn {
  color: #fff;
  background: #023161;
  padding: 0.5em;
  border: 1px solid #033263;
  width: 100%;
  border-radius: 3em;
  font-weight: 500;
  height: 2.7em;
  margin-top: 0.6em;
}

.login-form-group {
  margin-bottom: 1em;
  position: relative;
  width: 100%;
}
.login-form-group label {
  margin-bottom: 5px;
  display: block;
  color: #023161;
  font-size: 0.9em;
  font-weight: 500;
}
.login-form-group input {
  border: 1px solid #3181c9;
  padding: 0em 0em 0em 2em;
  width: 100%;
  border-radius: 4em;
  width: 100%;
  height: 2.7em;
  background: #f1f1f1;
}
.login-form-group input::placeholder {
  font-size: 0.8em;
}
.login-form-group input:focus, .login-form-group input :focus-visible {
  border: 1px solid #033263;
  box-shadow: rgba(4, 51, 100, 0.52) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  outline: 0;
}
.login-form-group .pass-eye-btn {
  position: absolute;
  right: 7px;
  top: 39px;
}
.login-form-group .pass-eye-btn svg {
  color: #3385ce;
}
.login-form-group .login-name-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 39px;
  left: 10px;
  color: #525252;
}

.login-form-group .mud-input-control > .mud-input-control-input-container {
  background: #fff !important;
  border-radius: 4em;
  width: 100%;
  height: 2.7em;
  /*background: #f1f1f1;*/
  border: 1px solid #3181c9;
}

.login-form-group .mud-input-control.mud-input-outlined-with-label {
  margin-top: 0px;
  margin-bottom: 0px;
}

.login-form-group .mud-input {
  width: 100%;
  height: 2.7em;
  /*background: #f1f1f1;*/
  border: 1px solid #3181c9;
  background: #fff !important;
  border-radius: 4em;
}

.login-form-group .mud-input.mud-input-outlined .mud-input-outlined-border {
  display: none;
}

.login-form-group .mud-select .mud-select-input .mud-input-slot {
  font-size: 15px;
}

.login-form-group .mud-select .mud-select-input .mud-input-slot:focus {
  box-shadow: none;
}

.file_head_show_span {
  margin-bottom: 2px;
  display: block;
  color: #023161;
  font-size: 0.9em;
  font-weight: 500;
}

.login-input-bg {
  background: #f1f1f1;
}

.login-input-brdr {
  border: 1px solid #3181c9;
}

.main-color {
  color: #023161;
}

.main-bg-dark-color {
  background-color: #023161;
}

.main-bg-light-color {
  background-color: rgb(203, 231, 255);
}

/*------------Custom Check box------------------------*/
.checkbox-wrapper-15 .cbx {
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.checkbox-wrapper-15 .cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-15 .cbx span:first-child {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #B9B8C3;
  transition: all 0.2s ease;
  border-color: #3181c9;
  background-color: #fff;
}

.checkbox-wrapper-15 .cbx span:first-child svg {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 6px;
  fill: none;
  stroke: white;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-15 .cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #506EEC;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
  transition-delay: 0.2s;
}

.checkbox-wrapper-15 .cbx span:last-child {
  margin-left: 2px;
}

.checkbox-wrapper-15 .cbx:hover span:first-child {
  border-color: #3181c9;
  background-color: #fff;
}

.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:first-child {
  border-color: #3c53c7;
  background: #3c53c7;
  animation: check-15 0.6s ease;
}

.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}

.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(2.2);
  opacity: 0;
  transition: all 0.6s ease;
}

.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:last-child {
  transition: all 0.3s ease;
}

.checkbox-wrapper-15 .inp-cbx:checked + .cbx span:last-child:after {
  transform: scaleX(1);
  transition: all 0.3s ease;
}

@keyframes check-15 {
  50% {
    transform: scale(1.2);
  }
}
/*-----------------------------------------------*/
/*-------------Dashboard-----------------------*/
.side-bar-main .logo_section h4 {
  color: #023161;
  font-weight: 600;
  font-size: 20px;
}
.side-bar-main .logo_section img {
  width: 3.5em;
  border-radius: 2px;
}
.side-bar-main::-webkit-scrollbar {
  width: 10px;
}
.side-bar-main::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 0px;
}
.side-bar-main::-webkit-scrollbar-thumb {
  background: #777777;
  border-radius: 0px;
}
.side-bar-main::-webkit-scrollbar-thumb:hover {
  background: #777777;
}
.side-bar-main ul li a {
  font-size: 0.9em;
  color: #1c1c1c;
  padding: 0.5em 0em 0.5em 0.6em;
  margin-bottom: 0.7em;
  border-radius: 0.5em;
}
.side-bar-main ul li a svg {
  width: 22px;
  height: 22px;
  margin-right: 5px;
}
.side-bar-main ul li a.nav-item.active {
  color: #023161;
  background-color: rgb(203, 231, 255);
  font-weight: 500;
  border-left: 3px solid #023161;
}
.side-bar-main ul li ul.submenu {
  margin-left: 16px;
}
.side-bar-main ul li ul.submenu li a {
  font-size: 0.9em;
  color: #1c1c1c;
  padding: 0.5em 0em 0.5em 0.6em;
  margin-bottom: 0.7em;
  border-radius: 0.5em;
  display: block;
}

.top-bar .top-bar-user-sec {
  padding: 2px 5px;
  border-radius: 5px;
}
.top-bar .top-bar-user-sec .bar-user-svg {
  color: #023161;
  width: 35px;
  height: 35px;
}
.top-bar .top-bar-user-sec h6 {
  color: #023161;
  line-height: 6px;
  margin-top: 12px;
}
.top-bar .top-bar-user-sec span.username_sapn {
  font-size: 13px;
}

.submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease;
}

.submenu.open {
  max-height: 500px;
}

/*--------------Dropdown-------------------*/
.userdetailmenuBox {
  opacity: 0;
  transform: translateY(-10px) scale(0.95);
  pointer-events: none;
  animation-fill-mode: forwards;
}

/* OPEN ANIMATION */
.userdetailmenuBox.show {
  animation: dropdownOpen 0.25s ease forwards;
}

/* CLOSE ANIMATION */
.userdetailmenuBox.hide {
  animation: dropdownClose 0.25s ease forwards;
}

/* KEYFRAMES */
@keyframes dropdownOpen {
  0% {
    opacity: 0;
    transform: translateY(-10px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
    pointer-events: auto;
  }
}
@keyframes dropdownClose {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px) scale(0.95);
    pointer-events: none;
  }
}
/*-----------Popup Animation----------------*/
@keyframes popupShow {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.popup-animate {
  animation: popupShow 0.25s ease-out forwards;
}

/*--------------Company Management-----------------*/
.attach-acco-btn {
  width: 33em;
}

.acc-symbol {
  font-size: 1.2em;
}

.modal-form-group input, .modal-form-group select {
  background: #fbfbfb;
}
.modal-form-group input:focus, .modal-form-group input :focus-visible, .modal-form-group select:focus, .modal-form-group select :focus-visible {
  outline: 0 !important;
  box-shadow: none !important;
  border: 1px solid #023161;
}

/*--------------Carousel---------------------*/
.carousel-image {
  width: 100%;
  border: 1px solid #02347a;
  object-fit: cover;
  border-radius: 10px;
  height: 350px;
  /* height: 100%; */
}
